body {
  background-color: #0d1210;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:active,
a:hover {
  font-family: "Rajdhani", sans-serif;
  color: #90ebd4;
}

a,
a:active,
a:hover {
  color: #35c5a1;
  text-decoration: none;
}

p {
  font-family: "Raleway", sans-serif;
  color: #38544d;
}

p:hover {
  font-weight: 400;
  color: #3da58b;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  width: 90%;
}

.header,
.alphabetNav {
  display: flex;
}

.smallInfo,
.graph {
  flex-basis: auto;
  padding: 1rem;
}

.alphabetNav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap; /* Maybe an alternative layout for viewports */
}
.alphabetNav ul li {
  width: 2rem;
}

.alphabetNav ul li a:hover {
  color: #3da58b;
}

.entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.country-card {
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  border: 1px solid #232f2d;
  border-radius: 4px;

  background: linear-gradient(50deg, #080808, #212726);
}

input#filterInput {
  font-size: 2.6rem;
  color: burlywood;
  text-transform: uppercase;
  background: #121414;
  border-bottom: 1px solid #52776e;
}

.cases-confirmed-p {
  font-weight: 400;
  color: #3da58b;
}

/* Fade in text */

.country-card {
  display: inline-block;
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 505px) {
  .country-card {
    background: red;
    min-width: 100%;
  }
}
