.container {
  margin: 0 auto;
  width: 90%;
}

.entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-content: space-around; */
}

.country-card {
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-shadow: 5px 2px rgb(168, 166, 166, 0.5);
}

input#filterInput {
  font-size: 2.6rem;
  color: burlywood;
  text-transform: uppercase;
}

/* Fade in text */

.country-card {
  display: inline-block;
  color: rgb(218, 228, 230);
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 505px) {
  .country-card {
    background: red;
    min-width: 100%;
  }
}
